body {
	margin: 0px;
}

.jvectormap-legend-title {
  font-size: 12px;
}

.jvectormap-legend .jvectormap-legend-tick-sample {
  height: 26px;
}

.jvectormap-legend-icons {
  background: white;
  border: black 1px solid;
}

.jvectormap-legend-icons {
  color: black;
}

text {
  font: 10px sans-serif;
}

form {
  position: absolute;
  right: 10px;
  top: 10px;
}

body {
  font-family: sans-serif;
  font-weight: normal;
  margin: 10px;
  color: #999;
  background-color: #eee;
}

form {
  margin: 40px 0;
}

div {
  /*clear: both;*/
  /*margin: 0 50px;*/
}

label {
  width: 200px;
  border-radius: 3px;
  border: 1px solid #D1D3D4
}

/* hide input */
input.radio:empty {
  VISIBILITY: hidden;
}

/* style label */
input.radio:empty ~ label {
  position: relative;
  background: white;
  float: left;
  line-height: 2.5em;
  text-indent: 3.25em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #AFAFAF;
}

input.radio:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

/* toggle hover */
input.radio:hover:not(:checked) ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

input.radio:hover:not(:checked) ~ label {
  color: #888;
}

/* toggle on */
input.radio:checked ~ label:before {
  content:'\2714';
  text-indent: .9em;
  color: #9CE2AE;
  background-color: #4DCB6D;
}

input.radio:checked ~ label {
  color: #4DCB6D;
}

/* radio focus */
input.radio:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.radio, .checkbox {
  padding: 0px !important;
  margin: 0px !important;
  min-height: 0px !important;
}

.theTooltip {
  position: absolute;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
  font: 12px sans-serif;
  pointer-events: none;
  z-index: 9999;
  margin-bottom: 50px;
  margin-left: 15px;

  border-radius: 3px;
  background: #292929;
  padding: 3px;
  color: white;
  cursor: pointer;
  line-height: 10px;
  text-align: center;
  box-sizing: content-box;
}
